{
	"extends": "eslint:recommended",
	env: {
		browser: true
	},
    "rules": {
		"no-console": "off",
        "semi": ["error", "always"],
        "quotes": "off",
		"no-unused-vars": "off",
		"no-mixed-spaces-and-tabs":"off"
    }
}