<div class="toolbar">
	<div dojoAttachPoint="header" class="header">	
		<img src="js/images/logo.jpg" height="50px"/>
	</div>
	<br />
	<button dojoType="dijit/form/Button" dojoAttachPoint="toggleStreetsButton" dojoAttachEvent="onClick:toggleStreetMap">Show Transportation</button><br/>
	<button dojoType="dijit/form/Button" dojoAttachEvent="onClick:toggleAssetLayer" dojoAttachPoint="toggleAssetsButton">Show Assets</button><br/>
	<button dojoType="dijit/form/Button" dojoAttachPoint="toggleTravelRingButton" dojoAttachEvent="onClick:toggleTravelRingTool">Create Travel Ring</button>
	<button dojoType="dijit/form/Button" dojoAttachEvent="onClick:clearGraphics">Clear Graphics</button>
</div>
